.elementor-kit-344144 {
  --e-global-color-accent: #d8ae5f;
  --e-global-color-secondary: #ffffff;
  --e-global-color-primary: #212121;
  --e-global-color-text: #4d4d4d;
  --e-global-color-c742624: #ffffff;
  --e-global-color-e0b99f2: #ffffff;
  --e-global-color-45d598c: #ffffff;
  --e-global-color-40b28bc: #000000;
  --e-global-color-95d2432: #fdfbf7;
  --e-global-color-0bbe810: #f3f4f6;
  --e-global-color-9ce2928: #222222;
  --e-global-color-fab3c72: #915050;
  --e-global-typography-primary-font-family: "Nunito";
  --e-global-typography-primary-font-size: 50px;
  --e-global-typography-primary-font-weight: 500;
  --e-global-typography-primary-line-height: 1.1em;
  --e-global-typography-secondary-font-family: "Nunito";
  --e-global-typography-secondary-font-size: 40px;
  --e-global-typography-secondary-font-weight: 600;
  --e-global-typography-secondary-line-height: 1.1em;
  --e-global-typography-text-font-family: "Nunito";
  --e-global-typography-text-font-size: 15px;
  --e-global-typography-text-font-weight: 300;
  --e-global-typography-text-line-height: 1.5em;
  --e-global-typography-accent-font-family: "Nunito";
  --e-global-typography-accent-font-size: 14px;
  --e-global-typography-accent-font-weight: 400;
  --e-global-typography-0e838b8-font-family: "Nunito";
  --e-global-typography-0e838b8-font-size: 28px;
  --e-global-typography-0e838b8-font-weight: 500;
  --e-global-typography-0e838b8-line-height: 1.4em;
  --e-global-typography-48643ca-font-family: "Nunito";
  --e-global-typography-48643ca-font-size: 20px;
  --e-global-typography-48643ca-font-weight: 600;
  --e-global-typography-48643ca-line-height: 1.1em;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
@media (max-width: 1024px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-344144 {
    --e-global-typography-primary-font-size: 30px;
    --e-global-typography-primary-line-height: 1em;
    --e-global-typography-secondary-font-size: 26px;
    --e-global-typography-secondary-line-height: 1.1em;
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-line-height: 1.4em;
    --e-global-typography-0e838b8-font-size: 22px;
    --e-global-typography-0e838b8-line-height: 1em;
    --e-global-typography-48643ca-font-size: 20px;
    --e-global-typography-48643ca-line-height: 1em;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
