.elementor-344143 .elementor-element.elementor-element-7f5cfa8 {
  --display: flex;
  --min-height: 0px;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 0px 0px;
  --flex-wrap: nowrap;
  --background-transition: 0.3s;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}
.elementor-344143
  .elementor-element.elementor-element-7f5cfa8:not(.elementor-motion-effects-element-type-background),
.elementor-344143
  .elementor-element.elementor-element-7f5cfa8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}
.elementor-344143 .elementor-element.elementor-element-7f5cfa8,
.elementor-344143 .elementor-element.elementor-element-7f5cfa8::before {
  --border-transition: 0.3s;
}
.elementor-344143 .elementor-element.elementor-element-091b628 {
  --display: flex;
  --min-height: 0px;
  --justify-content: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: 0px;
  --margin-inline-start: 28px;
  --margin-inline-end: 0px;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}
.elementor-344143 .elementor-element.elementor-element-091b628.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-344143 .elementor-element.elementor-element-bb27f87 img {
  width: 57%;
}
.elementor-344143
  .elementor-element.elementor-element-bb27f87
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-344143 .elementor-element.elementor-element-bb27f87 {
  width: 100%;
  max-width: 100%;
}
.elementor-344143 .elementor-element.elementor-element-44c8765 {
  --display: flex;
  --min-height: 0px;
  --justify-content: center;
  --background-transition: 0.3s;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}
.elementor-344143 .elementor-element.elementor-element-44c8765.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-344143
  .elementor-element.elementor-element-83b0f71
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-size: 18px;
  font-weight: 500;
}
.elementor-344143 .elementor-element.elementor-element-032c7fe {
  --display: flex;
  --min-height: 0px;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-344143 .elementor-element.elementor-element-032c7fe.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-menu-toggle {
  margin-left: auto;
  background-color: #02010100;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu__container {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
  word-spacing: var(--e-global-typography-text-word-spacing);
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--main
  .twbb-item,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--dropdown
  .twbb-item {
  color: var(--e-global-color-primary);
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--main
  .twbb-item:hover,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--main
  .twbb-item.twbb-item-active,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--main
  .twbb-item.highlighted,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--main
  .twbb-item:focus,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--dropdown
  .twbb-item.twbb-item-active {
  color: var(--e-global-color-primary);
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--main:not(.e--pointer-framed)
  .twbb-item:before,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--main:not(.e--pointer-framed)
  .twbb-item:after {
  background-color: var(--e-global-color-primary);
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-framed
  .twbb-item:before,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-framed
  .twbb-item:after {
  border-color: var(--e-global-color-primary);
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-framed
  .twbb-item:before {
  border-width: 0px;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-framed.e--animation-draw
  .twbb-item:before {
  border-width: 0 0 0px 0px;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-framed.e--animation-draw
  .twbb-item:after {
  border-width: 0px 0px 0 0;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-framed.e--animation-corners
  .twbb-item:before {
  border-width: 0px 0 0 0px;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-framed.e--animation-corners
  .twbb-item:after {
  border-width: 0 0px 0px 0;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-underline
  .twbb-item:after,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-overline
  .twbb-item:before,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-double-line
  .twbb-item:before,
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .e--pointer-double-line
  .twbb-item:after {
  height: 0px;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  .twbb-nav-menu--main
  .twbb-item {
  padding-left: 26px;
  padding-right: 26px;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  div.twbb-menu-toggle {
  color: var(--e-global-color-accent);
}
.elementor-344143
  .elementor-element.elementor-element-59e035d
  > .elementor-widget-container {
  margin: 0px 0px 6px 0px;
}
.elementor-344143 .elementor-element.elementor-element-59e035d {
  width: var(--container-widget-width, 108.635%);
  max-width: 108.635%;
  --container-widget-width: 108.635%;
  --container-widget-flex-grow: 0;
}
.elementor-344143
  .elementor-element.elementor-element-59e035d.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-344143 .elementor-element.elementor-element-7e25e1d {
  --display: flex;
  --min-height: 0px;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-344143
  .elementor-element.elementor-element-90ee404
  .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
  word-spacing: var(--e-global-typography-accent-word-spacing);
  fill: var(--e-global-color-45d598c);
  color: var(--e-global-color-45d598c);
  background-color: var(--e-global-color-accent);
  border-radius: 6px 6px 6px 6px;
  padding: 15px 50px 15px 50px;
}
.elementor-344143
  .elementor-element.elementor-element-90ee404
  .elementor-button:hover,
.elementor-344143
  .elementor-element.elementor-element-90ee404
  .elementor-button:focus {
  border-color: var(--e-global-color-accent);
}
.elementor-344143
  .elementor-element.elementor-element-90ee404
  > .elementor-widget-container {
  margin: 0px 0px 9px 0px;
}
@media (max-width: 1024px) {
  .elementor-344143 .elementor-element.elementor-element-7f5cfa8 {
    --min-height: 0px;
    --padding-block-start: 10px;
    --padding-block-end: 10px;
    --padding-inline-start: 10px;
    --padding-inline-end: 10px;
  }
  .elementor-344143 .elementor-element.elementor-element-44c8765 {
    --min-height: 0px;
  }
  .elementor-344143
    .elementor-element.elementor-element-59e035d
    .twbb-nav-menu__container {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
    word-spacing: var(--e-global-typography-text-word-spacing);
  }
  .elementor-344143
    .elementor-element.elementor-element-90ee404
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
    word-spacing: var(--e-global-typography-accent-word-spacing);
  }
}
@media (max-width: 767px) {
  .elementor-344143 .elementor-element.elementor-element-091b628 {
    --width: 13%;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
  }
  .elementor-344143 .elementor-element.elementor-element-44c8765 {
    --width: 74%;
  }
  .elementor-344143 .elementor-element.elementor-element-032c7fe {
    --width: 15%;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-344143
    .elementor-element.elementor-element-59e035d
    .twbb-nav-menu__container {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
    word-spacing: var(--e-global-typography-text-word-spacing);
  }
  .elementor-344143
    .elementor-element.elementor-element-90ee404
    .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
    word-spacing: var(--e-global-typography-accent-word-spacing);
  }
}
@media (min-width: 768px) {
  .elementor-344143 .elementor-element.elementor-element-7f5cfa8 {
    --content-width: 100%;
  }
  .elementor-344143 .elementor-element.elementor-element-091b628 {
    --width: 4%;
  }
  .elementor-344143 .elementor-element.elementor-element-44c8765 {
    --width: 27%;
  }
  .elementor-344143 .elementor-element.elementor-element-032c7fe {
    --width: 46.38%;
  }
  .elementor-344143 .elementor-element.elementor-element-7e25e1d {
    --width: 23%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-344143 .elementor-element.elementor-element-091b628 {
    --width: 9%;
  }
  .elementor-344143 .elementor-element.elementor-element-44c8765 {
    --width: 32%;
  }
  .elementor-344143 .elementor-element.elementor-element-032c7fe {
    --width: 58%;
  }
}
