.elementor-344130 .elementor-element.elementor-element-99d8324 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 10px 10px;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}
.elementor-344130
  .elementor-element.elementor-element-99d8324:not(.elementor-motion-effects-element-type-background),
.elementor-344130
  .elementor-element.elementor-element-99d8324
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fafafa;
}
.elementor-344130 .elementor-element.elementor-element-99d8324,
.elementor-344130 .elementor-element.elementor-element-99d8324::before {
  --border-transition: 0.3s;
}
.elementor-344130 .elementor-element.elementor-element-a1f6af9 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-344130 .elementor-element.elementor-element-dfbc21c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 10px 10px;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: 55px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}
.elementor-344130 .elementor-element.elementor-element-c1a5337 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-block-start: 0100px;
  --padding-block-end: 0100px;
  --padding-inline-start: 0px;
  --padding-inline-end: 070px;
}
.elementor-344130
  .elementor-element.elementor-element-c1a5337:not(.elementor-motion-effects-element-type-background),
.elementor-344130
  .elementor-element.elementor-element-c1a5337
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fafafa;
}
.elementor-344130 .elementor-element.elementor-element-c1a5337,
.elementor-344130 .elementor-element.elementor-element-c1a5337::before {
  --border-transition: 0.3s;
}
.elementor-344130
  .elementor-element.elementor-element-642dfaf
  .elementor-heading-title {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  word-spacing: var(--e-global-typography-secondary-word-spacing);
}
.elementor-344130 .elementor-element.elementor-element-be2d680 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 20px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-344130
  .elementor-element.elementor-element-be2d680
  .elementor-social-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-344130
  .elementor-element.elementor-element-be2d680
  .elementor-social-icon
  i {
  color: var(--e-global-color-secondary);
}
.elementor-344130
  .elementor-element.elementor-element-be2d680
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-secondary);
}
.elementor-344130
  .elementor-element.elementor-element-be2d680
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 70px 0px;
}
.elementor-344130 .elementor-element.elementor-element-4e7dc62 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-block-start: 0100px;
  --padding-block-end: 0px;
  --padding-inline-start: 050px;
  --padding-inline-end: 050px;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group {
  padding-right: calc(24px / 2);
  padding-left: calc(24px / 2);
  margin-bottom: 15px;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-form-fields-wrapper {
  margin-left: calc(-24px / 2);
  margin-right: calc(-24px / 2);
  margin-bottom: -15px;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-heading-title.elementor-form-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
  letter-spacing: var(--e-global-typography-text-letter-spacing);
  word-spacing: var(--e-global-typography-text-word-spacing);
}
body.rtl
  .elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-labels-inline
  .elementor-field-group
  > .elementor-form-title {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-labels-inline
  .elementor-field-group
  > .elementor-form-title {
  padding-right: 0px;
}
body
  .elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-labels-above
  .elementor-field-group
  > .elementor-form-title {
  padding-bottom: 0px;
}
body.rtl
  .elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-labels-inline
  .elementor-field-group
  > .elementor-text-editor[data-elementor-setting-key="form_description"] {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-labels-inline
  .elementor-field-group
  > .elementor-text-editor[data-elementor-setting-key="form_description"] {
  padding-right: 0px;
}
body
  .elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-labels-above
  .elementor-field-group
  > .elementor-text-editor[data-elementor-setting-key="form_description"] {
  padding-bottom: 0px;
}
body.rtl
  .elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 6px;
}
body:not(.rtl)
  .elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 6px;
}
body
  .elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 6px;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group
  > label,
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-subgroup
  label {
  color: var(--e-global-color-primary);
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group
  > label {
  font-size: 16px;
  font-weight: 600;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group
  .elementor-field {
  color: var(--e-global-color-primary);
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group
  .elementor-field,
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-subgroup
  label {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  word-spacing: var(--e-global-typography-secondary-word-spacing);
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group:not(.elementor-field-type-upload, .elementor-field-type-custom_button)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #ffffff7d;
  border-color: var(--e-global-color-text);
  border-width: 1px 1px 1px 1px;
  border-radius: 6px 6px 6px 6px;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #ffffff7d;
  border-color: var(--e-global-color-text);
  border-width: 1px 1px 1px 1px;
  border-radius: 6px 6px 6px 6px;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-field-group
  .elementor-select-wrapper::before {
  color: var(--e-global-color-text);
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-button {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 6px 6px 6px 6px;
  padding: 0px 0px 0px 0px;
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .e-form__buttons__wrapper__button-next {
  background-color: var(--e-global-color-accent);
  color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-accent);
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-button[type="submit"] {
  background-color: var(--e-global-color-accent);
  color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-accent);
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-button[type="submit"]
  svg
  * {
  fill: var(--e-global-color-secondary);
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .e-form__buttons__wrapper__button-previous {
  background-color: var(--e-global-color-accent);
  color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-accent);
}
.elementor-344130
  .elementor-element.elementor-element-d672e2d
  .elementor-button[type="reset"] {
  background-color: var(--e-global-color-accent);
  color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-accent);
}
.elementor-344130 .elementor-element.elementor-element-d672e2d {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-344130 .elementor-element.elementor-element-61ecc3f {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --align-items: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-block-start: 0px;
  --margin-block-end: -10px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --padding-block-start: 0px;
  --padding-block-end: 0px;
  --padding-inline-start: 0px;
  --padding-inline-end: 0px;
}
.elementor-344130 .elementor-element.elementor-element-b95d841 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-344130 .elementor-element.elementor-element-aa2368e iframe {
  height: 450px;
}
.elementor-344130 .elementor-element.elementor-element-aa2368e {
  width: 100%;
  max-width: 100%;
}
.elementor-344130
  .elementor-element.elementor-element-aa2368e
  > .elementor-widget-container {
  background-color: #fafafa;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-344130 .elementor-element.elementor-element-99d8324 {
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 010px;
    --padding-inline-end: 010px;
  }
  .elementor-344130
    .elementor-element.elementor-element-642dfaf
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
    word-spacing: var(--e-global-typography-secondary-word-spacing);
  }
  .elementor-344130
    .elementor-element.elementor-element-be2d680
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-344130
    .elementor-element.elementor-element-d672e2d
    .elementor-heading-title.elementor-form-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
    word-spacing: var(--e-global-typography-text-word-spacing);
  }
  .elementor-344130
    .elementor-element.elementor-element-d672e2d
    .elementor-field-group
    .elementor-field,
  .elementor-344130
    .elementor-element.elementor-element-d672e2d
    .elementor-field-subgroup
    label {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
    word-spacing: var(--e-global-typography-secondary-word-spacing);
  }
}
@media (max-width: 767px) {
  .elementor-344130 .elementor-element.elementor-element-c1a5337 {
    --padding-block-start: 0100px;
    --padding-block-end: 100px;
    --padding-inline-start: 010px;
    --padding-inline-end: 010px;
  }
  .elementor-344130
    .elementor-element.elementor-element-642dfaf
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
    word-spacing: var(--e-global-typography-secondary-word-spacing);
  }
  .elementor-344130 .elementor-element.elementor-element-be2d680 {
    --icon-size: 20px;
  }
  .elementor-344130
    .elementor-element.elementor-element-be2d680
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-344130 .elementor-element.elementor-element-4e7dc62 {
    --margin-block-start: -50px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 050px;
    --padding-inline-start: 020px;
    --padding-inline-end: 020px;
  }
  .elementor-344130
    .elementor-element.elementor-element-d672e2d
    .elementor-heading-title.elementor-form-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
    word-spacing: var(--e-global-typography-text-word-spacing);
  }
  .elementor-344130
    .elementor-element.elementor-element-d672e2d
    .elementor-field-group
    .elementor-field,
  .elementor-344130
    .elementor-element.elementor-element-d672e2d
    .elementor-field-subgroup
    label {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
    word-spacing: var(--e-global-typography-secondary-word-spacing);
  }
}
